In [ ]:
{
  "name": "Rahul",
  "roll_number": 101,
  "marks": 72
}

{'name': 'Rahul', 'roll_number': 101, 'marks': 72}

In [ ]:
import json

# Q1: Create JSON file from dictionary in previous cell
student_data = {
  "name": "Rahul",
  "roll_number": 101,
  "marks": 72
}
with open("student.json", "w") as file:
    json.dump(student_data, file, indent=4)

# Q2: Read JSON file
with open("student.json", "r") as file:
    student = json.load(file)

# Q3: Access individual fields
name = student["name"]
roll = student["roll_number"]
marks = student["marks"]

print("Student Details")
print("----------------")
print(f"Name        : {name}")
print(f"Roll Number : {roll}")
print(f"Marks       : {marks}")

# Q4: Check pass/fail
if marks >= 35:
    result = "Pass"
else:
    result = "Fail"

print(f"Result      : {result}")

# Q5: Update JSON with result and save to new file
student["result"] = result

with open("student_result.json", "w") as file:
    json.dump(student, file, indent=4)

print("\nUpdated JSON saved as student_result.json")

Student Details
----------------
Name        : Rahul
Roll Number : 101
Marks       : 72
Result      : Pass

Updated JSON saved as student_result.json

In [ ]:
{
    "name": "Rahul",
    "roll_number": 101,
    "marks": 72,
    "result": "Pass"
}

{'name': 'Rahul', 'roll_number': 101, 'marks': 72, 'result': 'Pass'}